
  <section class="contact-snippet tdbc-container" id="contact-nav">
      <div class="contact-snippet-container">
        <h3>Contact us at:</h3>
        <ul class="hero-p">
          <li><i class="fas fa-phone"></i>(919)-400-3907</li>
          <li><i class="fas fa-phone"></i>(919)-830-4224</li>
          <a href="mailto:rightaboutcabinetry@gmail.com">
          <li id="email">
           RightAboutCabinetry@gmail.com
          </li>
        </a>
        </ul>
      </div>
    </section>
