
  <section class="contact-snippet tdbc-container" id="contact-nav">
      <div class="contact-snippet-container">
        <h2>Start your Project</h2>
        <p>Use the contact form or the information provided to send us a message and we’ll get back to you soon.</p>
        <ul>
          <li><a href="tel:9194003907"><img src="\img\phone-call-svgrepo-com.svg" alt="Phone">(919)-400-3907</a></li>
          <li><a href="tel:9198304224"><img src="\img\phone-call-svgrepo-com.svg" alt="Phone">(919)-830-4224</a></li>
          <li id="email">
            <a href="mailto:rightaboutcabinetry@gmail.com">
           rightaboutcabinetry@gmail.com
           </a>
          </li>
        </ul>
      </div>
    </section>
