<section class="[ contact-snippet ] [ region ]" id="contact-nav">
  <div class=" wrapper flow stack">
    <div class="stack contact-snippet-text">
      <h2>Let's <span class="color-accent">plan</span> your project</h2>
      <p class="measure-compact">Use the contact form or the information provided to send us a message and we’ll get back to you soon. <strong>Ideas for projects are welcome.</strong></p>
      <ul role="list">
        <li>
          <a href="tel:9194003907">(919)-400-3907</a>
        </li>
        <li>
          <a href="tel:9198304224">(919)-830-4224</a>
        </li>
        <li id="email">
          <a href="mailto:rightaboutcabinetry@gmail.com">
             rightaboutcabinetry@gmail.com
             </a>
        </li>
      </ul>
    </div>
    <div class="measure-short">
      <form action="https://formsubmit.co/rightaboutcabinetry@gmail.com" method="POST"  class=" contact-form stack flow ">
            <label for="form-name">Name:</label>
            <input type="text" name="Name" placeholder="Name" id="form-name" required>
            <label for="form-email">Email Address:</label>
            <input type="email" name="email" id="form-email" placeholder="email@example.com">
            <label for="form-phone">Phone Number:</label>
            <input type="tel" name="phone-number" id="form-phone" placeholder="Phone Number">
            <label for="form-textarea">Message</label>
            <textarea name="message" id="form-textarea" cols="20" rows="10" placeholder="Answer here"></textarea>
          <button type="submit" class="bg-light color-dark form-button">Submit</button>
      </form>
    </div>
  </div>
</section>
