
<section class="[ cta ] [ region ] [ color-light ]">
    <figure class=" cta-inner wrapper flow " data-wrapper="sans-padding">
          <blockquote class="color-light">
       <h3>
          Over 10 years of making
          custom masterpieces 
          </h3>
          </blockquote>
          <figcaption class="text-align--center">Right About Cabinetry and Woodworks is dedicated to helping you with your needs. Wether it be a custom cabinet, bathroom remodel, or a murhpy bed we’re ready to tackle your next idea.</figcaption>
          <a href="/contact/">Contact Us</a>
    </figure>
      {% image "src/img/dark-WhatsApp Image 2021-10-09 at 7.54.30 PM.webp", "White fireplace" %}
</section>