<footer class=" [ footer ] [ region ] [ bg-primary color-light ] ">
  <div class="wrapper region">
    <div class="switcher">
      <a href="/">
        <h4>Right about Cabinetry and Woodworks LLC</h4>
      </a>
      <ul role="list" class="footer__list flow">
        <h5>Site</h5>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/services/">Services</a>
        </li>
        <li>
          <a href="/portfolio/">Portfolio</a>
        </li>
        <li>
          <a href="/contact/">Contact</a>
        </li>
      </ul>
      <ul role="list" class="footer__list flow">
        <h5>Contact</h5>
        <li>
          <a href="tel:9194003907">(919)-400-3907</a>
        </li>
        <li>
          <a href="tel:9198304224">(919)-830-4224</a>
        </li>
        <li id="email">
          <a href="mailto:rightaboutcabinetry@gmail.com">
          rightaboutcabinetry@gmail.com
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="center wrapper region" center-type="footer">
    <h5>Main service areas</h5>
    <ul class="footer__list cluster" role="list">
      <li>The Triangle</li>
      <li>\</li>
      <li> Raleigh</li>
      <li>\</li>
      <li>Durham</li>
      <li>\</li>
      <li>Chapel hill</li>
    </ul>
  </div>

  <div class="[ footer-level-2 ] [ credits wrapper ]">
    <hr>
    <p class="copyright"> Right About Cabinetry & Woodworks LLC</p>
    <noscript>
      <p>©{% year %} Right About Cabinetry & Woodworks LLC</p>
    </noscript>
    <p>
              Built by <a href="https://lebronconsulting.tech/">Lebron Consulting</a>
    </p>
        Icons made by
          <a href="https://www.freepik.com" title="Freepik">Freepik</a> and 
          <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>