{# <nav id="main-nav" class="wrapper">
        <a href="/" class="   font-base logo ">
          <h5 class="">Right About Cabinetry</h5>
        </a>
        <button class="mobile-dropdown-toggle" aria-hidden="true">
          <div class="bar-1"></div>
          <div class="bar-2"></div>
          <div class="bar-3"></div>
        </button>
        <div class="dropdown-link-container">
          <a href="/services/" class="nav-link">Services</a>

          <a href="/portfolio/" class="nav-link">Portfolio</a>

          <a href="/contact/" class="nav-link">Contact</a>

          <div class="nav-close-div">
            <button class=" tdbc-button tdbc-button--large tdbc-button--secondary nav-close-btn color-light ">Close</button>
          </div>
        </div>

      </nav> #}
   
<nav id="mainnav" class="region wrapper">
    <a href="/" class="font-base logo">
          <h5 class="color-light">Right About Cabinetry</h5>
        </a>
  <ul class="mainnav-list">
    <li>
       <a href="/portfolio/">Portfolio</a>
    </li>
    <li>
      <a href="/services/" aria-current="page">Services</a>
      <div class="dropdown">
       <ul role="list">
        <li><a href="/services/cabinetry/">Cabinetry</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    <svg width="24" height="24" aria-hidden="true">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z">
    </svg>
  </button>
</template>