<section class="portfolio wrapper region flow text-align--center ">
    <h2 class="header-shadow underline" data-underline="center">See our Work</h2>
    <p class="measure-long">We love our work, we hope you do too</p>
 <div class="gallery" data-gallery="mini">
      {% image "src/img/WhatsApp Image 2021-10-09 at 7.54.30 PM.webp", "White Fireplace" %}
      {% image "src/img/WhatsApp-Image 2021-10-16-at-3.53.21-PM.webp", "White complete Desk" %}
      {% image "src/img/WhatsApp Image 2022-01-30 at 4.18.20 PM.webp", "White Bathroom sink with marble countertop" %}
      {% image "src/img/messages_0 (3).webp", "Full kitchen Cabinets" %}
 </div>
    <a class="" href="/portfolio">Portfolio</a>
</section>
