

<div class="tdbc-section--padded">
  <h2 class="tdbc-text-align--center">All Services</h2>
    <ul class="tdbc-column-container">
      <li class="tdbc-card">
        <img src="/img/cabinet.svg" alt="Cabinet" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/cabinetry/"> Cabinetry </a>
          <p>We make beautiful custom cabinets contact us to craft one of your own.</p>
        </div>
      </li>
      <li class="tdbc-card">
        <img src="/img/circular.svg" alt="Carpentry" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/woodwork/"> Woodwork </a>
          <p>We are expert carpenters, feel free to ask about specifics for custom projects.</p>
        </div>
      </li>
      <li class="tdbc-card">
        <img src="/img/graphic-design.svg" alt="Design and Installation" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/design-install/"> Design and installation </a>
          <p>We can install exsisting Woodworks or even design new Woodworks.</p>
        </div>
      </li>
      <li class="tdbc-card">
        <img src="/img/bathroom.svg" alt="bathroom remodel" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/bathroom/">Bathroom Remodels </a>
          <p>We remodel Bathrooms to look and feel amazing.</p>
        </div>
      </li>
    </ul>
  </div>
