

<div class="tdbc-section--padded">
  <h2 class="tdbc-text-align--center">What we can do for you</h2>
  <p>We offer many services, if you have a question contact us</p>
    <ul class="tdbc-column-container">
      <li class="tdbc-card">
        <img src="/img/carpenter.svg" alt="Cabinet" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/cabinetry/"> Cabinetry </a>
        </div>
      </li>
      <li class="tdbc-card">
        <img src="/img/saw.svg" alt="Woodworking" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/woodwork/"> Woodwork </a>
        </div>
      </li>
      <li class="tdbc-card">
        <img src="/img/compass.svg" alt="Design and Installation" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/design-install/"> Design and installation </a>
      </li>
      <li class="tdbc-card">
        <img src="/img/bathroom.svg" alt="bathroom remodel" />
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="/services/bathroom/">Bathroom Remodels </a>
        </div>
      </li>
      {% if '/services/' not in page.url %}
  <li class="tdbc-card">
  <div class="tdbc-card__content">
   <a class="tdbc-card__title" href="/services/">See all</a>
  </div>
  </li>
      {% endif %}
  </ul>
  </div>
