---
layout: base.njk
templateEngineOverride: md, njk
---

  <section class="skills" id="services">
    <h2 class="h2-hero"><a href="./services">All Services</a></h2>
    <h3 class="h2-hero">Click to see more:</h3>
    <div class="skills-container">
      <img src="Assets/icons/cabinet.svg" alt="Cabinet" class="icon" />
      <a href="./cabinetry">
        <p>Cabinetry</p>
      </a>
      <img src="Assets/icons/circular.svg" alt="Carpentry" class="icon" />
      <a href="./carpentry"><p>General Carpentry</p></a>
      <img
        src="Assets/icons/graphic-design.svg"
        alt="Design"
        class="icon"
      />
      <a href="./design-install"><p>Design + Installation</p></a>
      <img
        src="Assets/icons/bathroom.svg"
        alt="bathroom-remodel"
        class="icon"
      />
      <a href="./bathroom"> <p>Bathroom Remodel</p></a>
    </div>
  </section>
  <section class="portfolio">
    <h2 class="h2-hero">See our Work:</h2>
  <a class="btn" href="portfolio.html">Portfolio</a>
  </section>
  <section class="contact-snippet" id="contact-nav">
    <div class="contact-snippet-container">
      <h2 class="h2-hero">Let's start your Project</h2>
      <h3>Contact us at:</h3>
      <ul class="hero-p">
        <li><i class="fas fa-phone"></i>(919)-400-3907</li>
        <li><i class="fas fa-phone"></i>(919)-830-4224</li>
        <li id="email">
          <a href="mailto:rightaboutcabinetry@gmail.com"
            >RightAboutCabinetry@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </section>
  <script
      src="https://kit.fontawesome.com/ffa42396d3.js"
      crossorigin="anonymous"
    ></script>
