---
layout: base.njk
heroContent: "We’re Right About Cabinetry & Woodworks"
heroP: "Making quality Woodworks in North Carolina"
title: ""
description: ""
templateEngineOverride: md, njk
---

{% include "_partials/services-list.njk" %}

{% include "_partials/CTA.njk" %}

{% include "_partials/portfolio-snippet.njk" %}

{% include "_partials/contact-snippet.njk" %}

{% include "_partials/modal.njk" %}
 <script async defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>