---
layout: base.njk
heroContent: "Right about Cabinetry & Woodwork LLC"
heroP: "Making quality Woodwork in North Carolina"
title: "Home"
description: "rightaboutshop.com: The official website of Right About Cabinetry and Eliel Abreu, making Quality cabinets in North Carolina"
templateEngineOverride: md, njk
---

{% include "_partials/services-list.njk" %}



<section class="portfolio tdbc-section--padded tdbc-row--center-alignitems tdbc-row--center-content">
 <div>
    <h2 class="header-shadow">See our Work:</h2>
    <a class="tdbc-button tdbc-button--secondary" href="/portfolio">Portfolio</a>
 </div>
</section>
{% include "_partials/contact-snippet.njk" %}