---
layout: page.njk
---

<div class="wrapper region flow service-text">
      <h2 class="underline">{{contentHeader}}</h2>
      <p>Click on the images to expand</p>
      {{ content | safe }}
</div>

<section class="gallery-pattern region">
      <ul class="declare-gallery gallery gutter">
            {% asyncEach item in collections.portfolio %}
            {% if service in item.data.tag %}

                  <li>
                        {% image item.data.image,
                        item.data.title %}
                  </li>

            {% endif %}
            {% endeach %}
      </ul>


</section>

{% include "_partials/CTA.njk" %}
{% include "_partials/modal.njk" %}