<header class="nav-hero">
  <nav class="navbar">
   <h3><a href="./" class="nav-logo"></a></h3>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="./services" class="nav-link">Services</a>
        <!-- <div class="dropdown">
<button class="dropbtn nav-link">Services
  <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
</div>
</div> -->
      </li>
      <li class="nav-item">
        <a href="./portfolio" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="./contact" class="nav-link">Contact</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <div id="hero-id" class="hero-container">
    <header class="hero">
      <h1>{{ hero-content }}</h1>
      <p class="hero-p">{{ hero-p }}</p>
    </header>
</div>
<!-- <nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      {%- for page in collections.pages -%}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</nav> -->
