@use "theme";

.nav-hero {
  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("/img/2370612355_6f54b216ae_o (1).jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  z-index: 1;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e2e8f0;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-1);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav-item {
  list-style-type: none;
  text-decoration: none;
  margin-left: 5rem;
}

.nav-link {
  text-decoration: none;
  font-weight: bolder;

  color: var(--color-3);
}

.nav-link:hover {
  color: #023064;
}

.nav-logo {
  font-weight: bolder;
  color: var(--color-3);
}

.nav-logo:hover {
  color: #482ff7;
}

.hero-container {

  text-align: center;
  color: aliceblue;
  box-shadow: 2rem 2 rem 1rem var(--color-2);
  font-weight: 400;
  max-width: 3000px;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-shadow {
  text-shadow: #000 0.1em 0.1em 0.2em;
}

.hero {
  /* background-color: rgba(0, 0, 0, 0.4); */

  text-shadow: #000 0.1em 0.1em 0.2em;
  padding: 1rem;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 2s;

  h2 {
    margin-top: 1.5vw;
  }

}



.portfolio {
  text-align: center;
  display: flex;
  color: #f9f9f9;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5)),
    url(/img/rac-portfolio-background.png);

  }

.contact-snippet {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  margin: 1rem auto 1rem auto;
  background-color: #c0dffc;
  border-radius: 1rem;
  
img {
  width: 10%;
  height: auto;
}
}


.contact-snippet ul {
  
  overflow-wrap: break-word;
  padding-inline-start: 0px;

}

.contact-snippet ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}


.footer {
  margin-top: auto;
  text-align: center;
color: aliceblue;
  background-color: var(--color-3);
  width: 100%;
}

.footer ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer ul li {
  list-style-type: none;
}

.footer a {
  color: aliceblue;
}



.credit {
  color: aliceblue;
  font-size: small;
}

.hero-1 {
  text-align: center;

  padding: 1rem;

  transition-duration: 2s;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 3.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    z-index: 99999;
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .footer ul {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1137px) {
  .skills-container {
    display: flex;
    flex-direction: column;
  }
  .contact h2 {
    margin-left: 2.4rem;
  }
  .contact h3 {
    margin-left: 2.4rem;
  }
  .contact ul {
    flex-direction: column;
  }
  #email {
    font-size: 2rem;
  }
}
