
  
  .header-404 {
  
    text-align: center;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  
  .button-404 {
    background-color: #ce6c3b;
    padding: 2rem;
  }
  
  .a-404{
    color: aliceblue;
  
    font-weight: bolder;
  }
  
  .img-404 {
    width: 50%;
  }
  
  @media only screen and (max-device-width: 820px) {
   
    .img-404 {
      width: 100%;
    }
  }
  