@use "theme" as *;

// special thanks to andy bell for the flow utility

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.tdbc-content-maxlength {
  max-width: 80ch;
}

.tdbc-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

$tdbc-alignments: left, center, right !default;

@each $alignment in $tdbc-alignments {
  .tdbc-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}


.tdbc-mx-auto {
  margin-right: auto;
  margin-left: auto;
}


.tdbc-mb-none {
  margin-bottom: 0;
}
