@use "global" as *;

.tdbc-content-maxlength {
  max-width: 80ch;
}

.tdbc-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

$tdbc-alignments: left, center, right !default;

@each $alignment in $tdbc-alignments {
  .text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-none {
  margin: 0;
}

.mi-none {
margin-block-end: 0;
margin-block-start: 0;
margin-inline-start: 0;
margin-inline-end: 0;
}

.mb-none {
  margin-bottom: 0;
}
