@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("public/img/2370612355_6f54b216ae_o\ \(1\).jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
}


