---
description: "Right About Cabinetry Does general Carpentry. Take a look at our portfolio of custom Carpentry"
title: "Woodwork"
heroContent: "Woodwork"
heroP: "Custom woodwork for any customer"
---

<div class="wrapper region flow">
      <h2 class="underline">We are expert carpenters</h2>
      <p>Click on the images to expand</p>
</div>

<section>
      <ul class=" wrapper declare-gallery gallery ">
            {% asyncEach item in collections.portfolio %}
            {% if "woodwork" in item.data.tag %}

                  <li>
                        {% image item.data.image,
                        item.data.title %}
                  </li>

            {% endif %}
            {% endeach %}
      </ul>

</section>

{% include "_partials/modal.njk" %}