---
title: "Cabinetry"
heroContent: "Cabinetry"
description: "Right About Cabinetry Offers Custom cabinets. Take a look at our portfolio of Cabinets"
heroP: "Beautiful cabinets at the right price"
---

<header class="tdbc-container tdbc-text-align--center">
  <h2>Our Quality Cabinets</h2>
  <p>Click on the images to expand</p>
</header>

<!--MODAL IMAGE LIBRARY HERE  -->
<section class="services-img-container">
  {% image "public/img/WhatsApp Image 2021-10-09 at 7.47.59 PM.webp", "Brown Dresser Cabinet" %} 
  {% image "public/img/WhatsApp Image 2021-10-06 at 1.43.13 PM (1).webp", "Light Brown Display Cabinet" %} {% image "public/img/WhatsApp-Image 2021-10-16-at-3.53.21-PM.webp", "White complete Desk" %} {%
  image "public/img/messages_0 (3).webp", "Full kitchen Cabinets" %}

  <!-- The Modal -->
  <div class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption"></div>
    <button class="close-btn tdbc-button tdbc-button--light tdbc-button tdbc-button--light">
      Close
    </button>
  </div>
</section>

<!-- Contact component -->

{% include "_partials/contact-snippet.njk" %}