---
heroContent: "Contact Us"
title: "Contact Us"
description: "Want to work with Right About Cabinetry? Contact Us with our form or through the contact details"
---

<header class="form-header">
    <h2>Let's start Your Project</h2>
  </header>

  <section class="contact-snippet tdbc-container" id="contact-nav">
    <div class="contact-snippet-container">
      <h3>Contact us at:</h3>
      <ul class="hero-p">
        <li><i class="fas fa-phone"></i>(919)-400-3907</li>
        <li><i class="fas fa-phone"></i>(919)-830-4224</li>
        <a href="mailto:rightaboutcabinetry@gmail.com">
        <li id="email">
         RightAboutCabinetry@gmail.com
        </li>
      </a>
      </ul>
    </div>
  </section>

<section class="form-container">
 <form action="https://formsubmit.co/rightaboutcabinetry@gmail.com" method="POST"  class="contact-form">
  <div class="form-group">
      <legend>Contact Us</legend>
      <label for="form-name">Name:</label>
      <input type="text" name="Name" placeholder="Name" id="form-name" required>
   
      <label for="form-email">Email Address:</label>
      <input type="email" name="email" id="form-email" placeholder="email@example.com"> 
 
      <label for="form-phone">Phone Number:</label>
      <input type="text" name="phone-number" id="form-phone" placeholder="Phone Number">

      <label for="form-textarea">Describe your idea</label>
      <textarea name="message" id="form-textarea" cols="30" rows="10" placeholder="Answer here"></textarea>
      <button type="submit" class="form-btn">Submit</button>
  
      
  </div>
    </form>
</section>
