---
title: "Design & Installation"
description: "Right About Cabinetry Offers Custom designs and installation. Take a look at our portfolio of custom designed items"
heroContent: "Design & Installation"
---

<header class="tdbc-container tdbc-text-align--center">
<h2>Design & Installation makes your project a reality</h2>
  <h3 class="hero-p">Click on the images to expand</h3>
</header>

<!--MODAL IMAGE LIBRARY HERE  -->
<section class="services-img-container">
  {% image "public/img/WhatsApp Image 2021-10-09 at 7.54.30 PM.webp", "White Fireplace" %}
   {% image "public/img/WhatsApp-Image 2021-10-16-at-3.53.21-PM.webp", "White complete Desk" %}

  <!-- The Modal -->
  <div class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption"></div>
    <button class="close-btn tdbc-button tdbc-button--light tdbc-button tdbc-button--light">
      Close
    </button>
  </div>
</section>

<!-- Contact component -->

<section class="call2-container">
  <section class="contact-snippet" id="contact-nav">
    <div class="contact-snippet-container">
      <h2 class="h2-hero">Let's Design & install your next project</h2>
      <h3>Contact us at:</h3>
      <ul class="hero-p">
        <li><i class="fas fa-phone"></i>(919)-400-3907</li>
        <li><i class="fas fa-phone"></i>(919)-830-4224</li>
        <li id="email">
          <a href="mailto:rightaboutcabinetry@gmail.com">RightAboutCabinetry@gmail.com</a>
        </li>
      </ul>
    </div>
  </section>
</section>
