---
title: "Design & Installation"
description: "Right About Cabinetry Offers Custom designs and installation. Take a look at our portfolio of custom designed items"
heroContent: "Design & Installation"
heroP: "Have something in mind? We're here to help"
---

<header class="tdbc-container tdbc-text-align--center">
<h2>Design & Installation makes your project a reality</h2>
  <p>Click on the images to expand</p>
</header>

<!--MODAL IMAGE LIBRARY HERE  -->
<section class="services-img-container">
  {% image "public/img/WhatsApp Image 2021-10-09 at 7.54.30 PM.webp", "White Fireplace" %}
   {% image "public/img/WhatsApp-Image 2021-10-16-at-3.53.21-PM.webp", "White complete Desk" %}

  <!-- The Modal -->
  <div class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption"></div>
    <button class="close-btn tdbc-button tdbc-button--light tdbc-button tdbc-button--light">
      Close
    </button>
  </div>
</section>

<!-- Contact component -->


{% include "_partials/contact-snippet.njk" %}