---
title: "404 Page"

---

<header class="header-404">
    <h1 class="h1-404">404</h1>
    <h2 class="h2-404">This Page Was Lost With the Wind</h2>
    <button class="button-404"><a class="a-404" href="./">Back to Homepage</a></button>
    <img src="/Assets/img/Balloon Lost-big.png" alt="404 image" class="img-404" />
  </header>