---
title: "Our Portfolio"
heroContent: "Portfolio"
description: "Right About Cabinetry has a wealth of experience. Take a look at our portfolio of work"
heroP: "Our very best work"
---

<section class="portfolio-img-container">
  {% asyncEach item in collections.portfolio %}
      {% image item.data.image, item.data.title %}
  {% endeach %}

  <!-- The Modal -->
  <div class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content modal-img" />

    <!-- Modal Caption (Image Text) -->
    <div class="caption"></div>
    <button class="close-btn tdbc-button tdbc-button--light tdbc-button tdbc-button--light">Close</button>
  </div>
</section>




{% include "_partials/contact-snippet.njk" %}