---
title: "Our Portfolio"
description: "Right About Cabinetry has a wealth of experience. Take a look at our portfolio of work"
---

<section class="portfolio-img-container">
    <img
    src="Assets/img/WhatsApp Image 2021-10-16 at 3.53.21 PM.jpeg"
    alt="White complete Desk"
    class="services-img"
  />
    <img
    src="Assets/img/messages_0 (3).jpeg"
    alt="Full kitchen Cabinets"
    class="services-img"
  />
    <img
      src="Assets/img/messages_0 (1).jpeg"
      alt="Bathroom with brown sink"
      class="services-img"
    />
    <img
      src="Assets/img/WhatsApp Image 2021-10-14 at 9.38.02 AM.jpeg"
      alt="Brown bathroom sink"
      class="services-img"
    />
    <img
    src="Assets/img/WhatsApp Image 2021-10-09 at 7.54.30 PM.jpeg"
    alt="White Fireplace"
    class="services-img"
  />
  <img
    src="Assets/img/messages_0 (4).jpeg"
    alt="White Kitchen island and table"
    class="services-img"
  />
  <img
  src="Assets/img/WhatsApp Image 2021-10-06 at 2.20.23 PM.jpeg"
  alt="Bathroom with shower"
  class="services-img"
  />
  <img
  src="Assets/img/WhatsApp Image 2021-10-09 at 7.34.57 PM.jpeg"
  alt="White bathroom with sink"
  class="services-img"
  />
  <img
    src="Assets/img/messages_0 (2).jpeg"
    alt="White kitchen island"
    class="services-img"
  />
  <img
    src="Assets/img/WhatsApp Image 2021-10-09 at 7.47.59 PM.jpeg"
          alt="Brown Dresser Cabinet"
          class="services-img"
        />
        <img
          src="Assets/img/WhatsApp Image 2021-10-06 at 1.43.13 PM (1).jpeg"
          alt="Light Brown Display Cabinet"
          class="services-img"
        />
      
      
  
    <!-- The Modal -->
    <div class="modal">
      <!-- The Close Button -->
      <span class="close">&times;</span>
  
      <!-- Modal Content (The Image) -->
      <img class="modal-content modal-img" />
  
      <!-- Modal Caption (Image Text) -->
      <div class="caption"></div>
      <button class="close-btn services-btn">Close</button>
    </div>
  </section>

  <!-- Contact component -->
  
  <section class="call2-container">
    <section class="contact-snippet" id="contact-nav">
      <div class="contact-snippet-container">
        <h2 class="h2-hero">Let's Get your Project Started</h2>
        <h3>Contact us at:</h3>
        <ul class="hero-p">
          <li><i class="fas fa-phone"></i>(919)-400-3907</li>
          <li><i class="fas fa-phone"></i>(919)-830-4224</li>
          <li id="email">
            <a href="mailto:rightaboutcabinetry@gmail.com"
              >RightAboutCabinetry@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </section>
  </section>