---
heroContent: "Our Services"
heroP: "Here's Our specialties and services we offer"
title: "Our Services"
description: "Right About Cabinetry provides many services. Explore our specialties on this page"
---

<section class="skills" id="services">
    <!--Add bathroom icon-->
    <h2 class="h2-hero">All Services</h2>
    <h3 class="h2-hero">Click to see more:</h3>
    <div class="skills-container">
      <img src="Assets/icons/cabinet.svg" alt="Cabinet" class="icon" />
      <a href="/cabinetry.html">
        <p>Cabinetry</p>
      </a>
      <img src="Assets/icons/circular.svg" alt="Carpentry" class="icon" />
      <a href="/carpentry"><p>General Carpentry</p></a>
      <img src="Assets/icons/graphic-design.svg" alt="Design" class="icon" />
      <a href="/design-install"><p>Design + Installation</p></a>
      <img
        src="Assets/icons/bathroom.svg"
        alt="bathroom-remodel"
        class="icon"
      />
      <a href="/bathroom"> <p>Bathroom Remodel</p></a>
    </div>
  </section>